.title {
  font-family: $font-primary;
  
  
  @include desktop {
    &--sw-left {
      position: absolute;
      bottom: 50%;
      right: 0;
      transform: rotate(-90deg) translate(-40px, 30px);
    }

    &--sw-right {
      position: absolute;
      bottom: 50%;
      left: 0;
      transform: rotate(90deg) translate(0px, 20px);
    }
  }

  @include mobile {
    font-size: 20px;
  }

  &--us {
    &::before {
      content: '';
      height:5px;
      width:20px;
      display:inline-block;
      background-color: $primary;
      margin-right:5px;
      @include mobile {
        height:3px;
        width:10px;
      }
    }
  }

  &--center {
    text-align: center;
  }
}