.button {
	border: 0;
	height: $spacer * 2;
	display: inline-block;
  line-height: $spacer * 2;
  font-family: $font-secondary;
  text-decoration: none;
	cursor: pointer;
	&:focus {
		outline: 0;
	}

	&--primary {
		background-color: $primary !important;
    color: darken($secondary, 10%);
		&:hover {
			background-color: darken($primary, 10%);
		}
	}
	&--secondary {
		background-color: $secondary !important;
    color: white;
		&:hover {
			background-color: lighten($secondary, 10%);
		}
	}
	&--tertiary {
		background-color: $tertiary !important;
		&:hover {
			background-color: darken($tertiary, 10%);
		}
	}
	&--rounded {
		border-radius: $spacer;
		padding-left: $spacer;
		padding-right: $spacer;
  }
  
  &--center {
    display: block;
    margin: auto;
  }
}
