.cf {
  label {
    position:relative;
  }

  input {
    border: none;
    padding: $spacer;
    width: 100%;
    margin-bottom: $spacer;
    font-size: 18px;
    outline: none;
    transition: all $transition;
    background-color: darken($secondary,10%);
    color: $light-grey;
    font-family: $font-secondary;
    border-radius: 100px;

    &.button {
      color: black;
      line-height: 0;
    }

    &::placeholder {
      color: $light-grey;
      font-family: $font-secondary;
      color: transparent;
    }
    
    &:focus, &.focus {
      padding-top: 28px;
      padding-bottom: 12px;
      
      &::placeholder {
        color: transparent;
        transition: none;
      }
      
      & + span {
        opacity: 1;
        top: -20px;
        font-size: 13px;
        color: $primary;
      }
    }
  }

  span {
    color: $light-grey;
    font-size: 18px;
    font-family: $font-secondary;
    position: absolute;
    top: -4px;
    left: $spacer;
    transition: all $transition/2 ease-in-out;
  }
}