footer {
  background-color: darken($secondary, 5%);
  padding: $spacer/2 0;
  @include mobile {
    flex-direction: column;
  }
}

.social {
  padding: 0 $spacer;
  @include mobile {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  &__icon {
    margin-right: $spacer / 4;
    svg {
      height:40px;

      path {
        transition: all 0.3s;
        fill: $white;
      }
    }
    &:hover {
      text-decoration: unset;
      svg path {
        fill: $primary;
      }
    }
  }
}

.copyright {
  color: $white;
  line-height: 40px;
  padding: 0 20px;
  display: inherit;

  @include mobile {
    display: flex;
    justify-content: center;

    span {
      font-size: 12px;
    }
  }

  span {
    line-height: 40px;

    &.material-icons {
      margin-right: 10px;
    }
  }
}