.skills {
  display: inline-block;
  &__skill {
    display: inline-block;
    font-family: $font-primary;
    line-height:$spacer;
    color: $primary;
    margin-right: $spacer;
    background-color: darken($secondary, 10%);
    padding: $spacer/2 $spacer;
    border-radius: 75px;
    margin-bottom: $spacer;
    &::before {
      content:'check_box';
      font-family: "Material Icons";
      margin-right:$spacer /4;
      line-height:$spacer;
      vertical-align: text-bottom;
    }
  }
}