//  Colours
$black: #070707;
$white: #efefef;
$turquoise: #34d1bf;
$blue: #3454d1;
$red: #d1345b;
$grey: lighten($black, 10);

// $charcoal: #3d5467;
// $red: #db5461;
// $cambridge-blue: #8aa29e;

$green: #0f0;
