@import "./variables.scss";
@import "./mixins";

@import "./utility.scss";
@import "./fonts.scss";
@import "./partials.scss";

html {
  scroll-behavior: smooth;
}
body {
	background-color: $white;
}

p {
  font-family: $font-secondary;
}