$white: #FDFFFC !default;
$grey: #223843 !default;
$light-grey: #BBBBBB !default;

$primary: #00e427 !default;
$secondary: #0a024e !default;
$tertiary: #0a024e !default;
$spacer: 20px !default;
$transition: 0.4s !default;

$font-logo: "Russo One" !default;
$font-primary: "Exo 2" !default;
$font-secondary: "Raleway" !default;