$white: #FDFFFC !default;
$grey: #223843 !default;
$light-grey: #BBBBBB !default;
// $primary: #F85A3E !default;
$primary: #00e427 !default;
// $secondary: #190B28 !default;
$secondary: #0a024e !default;
// $tertiary: #822E81 !default;
$tertiary: #0a024e !default;
$spacer: 20px !default;
$transition: 0.4s !default;

$font-primary: "Russo One" !default;
$font-secondary: "Exo 2" !default;